<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爬取</title>
</head>
<body>
        <p>********************龙一医药网***********************</p>
        <form action="{% url 'reg2' %}" method="POST">
        {% csrf_token %}
            <input type="submit" value="爬取龙一医药网_特价专区">
        </form>
        <a href="./longyi_tjzq/">
            <button>获取龙一医药网数据</button>
        </a>
        <p>*********************蓉锦医药网**********************</p>
<!--        <form action="{% url 'reg1' %}" method="POST">-->
<!--        {% csrf_token %}-->
        <input type="submit" value="爬取蓉锦医药网_新品上架" onclick="alert('待续')">
<!--        </form>-->
<!--        <a href="./rjyiyao_xpsj/">-->
            <button onclick="alert('待续')">获取蓉锦医药网_新品上架数据</button>
<!--        </a>-->
        <p>*******************************************</p>
<!--        <form action="{% url 'reg3' %}" method="POST">-->
<!--        {% csrf_token %}-->
        <input type="submit" value="爬取蓉锦医药网_折扣专区" onclick="alert('待续')">
<!--        </form>-->
<!--        <a href="./rjyiyao_zkzq/">-->
            <button onclick="alert('待续')">获取蓉锦医药网_折扣专区数据</button>
<!--        </a>-->
        <p>**********************金仁药淘齐*********************</p>
<!--        <form action="{% url 'reg4' %}" method="POST">-->
<!--        {% csrf_token %}-->
        <input type="submit" value="爬取金仁药淘齐_诊所专区" onclick="alert('待续')">
<!--        </form>-->
<!--        <a href="./scjrm_zszq/">-->
            <button onclick="alert('待续')">获取金仁药淘齐_诊所专区数据</button>
<!--        </a>-->
        <p>***********************四川聚创医药网********************</p>
<!--        <form action="{% url 'reg5' %}" method="POST">-->
<!--        {% csrf_token %}-->
        <input type="submit" value="爬取四川聚创_院线专区" onclick="alert('待续')">
<!--        </form>-->
<!--        <a href="./scjuchuang_yxzq/">-->
            <button onclick="alert('待续')">获取四川聚创_院线专区数据</button>
<!--        </a>-->
        <p>***********************四川科欣医药网********************</p>
<!--        <form action="{% url 'reg6' %}" method="POST">-->
<!--        {% csrf_token %}-->
        <input type="submit" value="爬取四川科欣医药_药品专区" onclick="alert('待续')">
<!--        </form>-->
<!--        <a href="./sckxyy_ypzq/">-->
            <button onclick="alert('待续')">获取四川科欣医药_药品专区数据</button>
<!--        </a>-->
        <p>************************四川粤通医药网*******************</p>
<!--        <form action="{% url 'reg7' %}" method="POST">-->
<!--        {% csrf_token %}-->
        <input type="submit" value="爬取四川粤通医药_药品专区" onclick="alert('待续')">
<!--        </form>-->
<!--        <a href="./scytyy_zszq/">-->
            <button onclick="alert('待续')">获取四川粤通医药_药品专区数据</button>
<!--        </a>-->
        <p>************************药师帮*******************</p>
<!--        <form action="{% url 'reg8' %}" method="POST">-->
<!--        {% csrf_token %}-->
        <input type="submit" value="爬取药师帮_在线下单" onclick="alert('待续')">
<!--        </form>-->
<!--        <a href="./ysbang_zxxd/">-->
            <button onclick="alert('待续')">获取药师帮_在线下单数据</button>
<!--        </a>-->
</body>
</html>